.postForm {
  padding: 0.5rem;
}

.bgPrimary {
  color: black;
}

.bgPrimary h3 {
  color: black;
  margin-bottom: 0.5rem;
}

.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 0 1rem;
}

.btn {
  margin: 0 1rem;
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  background: #548ca8;
  color: #fff;
  width: 100%;
  margin-top: 0.5rem;
}
