.profileImage {
  position: relative;
  height: 120px;
  width: 120px;
  margin: 1rem;
}

.image {
  border-radius: 100%;
}

@media (max-width: 500px) {
  .profileImage {
    height: 60px;
    width: 60px;
  }
}
