.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);

  width: 300px;

  color: black;
}

.info {
  flex: 1;
}

.span {
  cursor: pointer;
  background-color: lightblue;
  width: 90%;
}

@media (max-width: 600px) {
  .post {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}

.icons {
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.heart {
  cursor: pointer;
  width: 16px;
}

.comment {
  cursor: pointer;
}

.heartRed {
  cursor: pointer;
  color: red;
}

.heartBlack {
  cursor: pointer;
  color: black;
}
