.post {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  /* border: 1px #ddd solid; */
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.info {
  display: flex;
  width: 100%;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-grow: 1;
}

@media (max-width: 700px) {
  .info {
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
  }

  .data {
    justify-content: space-between;
    width: 90%;
  }
}
